<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>logOut</title>
    <link rel="stylesheet" href="log.css"/>
</head>
<body>
    <!-- <form method="get" action="/logout">
        <button type="submit">LOG OUT</button>
    </form> -->
    <div class="container">
        <div class="screen">
            <div class="screen__content">
                <form class="login"  method="get" action="/logout">
                    <h1>Hi <%= name%></h1>
                    <button class="button login__submit">
                        <span class="button__text">LogOut</span>
                        <i class="button__icon fas fa-chevron-right"></i>
                    </button>				
                </form>

            </div>
            <div class="screen__background">
                <span class="screen__background__shape screen__background__shape4"></span>
                <span class="screen__background__shape screen__background__shape3"></span>		
                <span class="screen__background__shape screen__background__shape2"></span>
                <span class="screen__background__shape screen__background__shape1"></span>
            </div>		
        </div>
    </div>
</body>
</html>